.font-size__11px { font-size: 11px !important; }
.font-size__12px { font-size: 12px !important; }
.font-size__13px { font-size: 13px !important; }
.font-size__14px { font-size: 14px !important; }
.font-size__15px { font-size: 15px !important; }
.font-size__16px { font-size: 16px !important; }
.font-size__17px { font-size: 17px !important; }
.font-size__18px { font-size: 18px !important; }
.font-size__19px { font-size: 19px !important; }
.font-size__20px { font-size: 20px !important; }
.font-size__21px { font-size: 21px !important; }
.font-size__22px { font-size: 22px !important; }
.font-size__23px { font-size: 23px !important; }