.ls__1px { letter-spacing: 1px !important; }
.ls__2px { letter-spacing: 2px !important; }
.ls__3px { letter-spacing: 3px !important; }
.ls__4px { letter-spacing: 4px !important; }
.ls__5px { letter-spacing: 5px !important; }
.ls__6px { letter-spacing: 6px !important; }
.ls__7px { letter-spacing: 7px !important; }
.ls__8px { letter-spacing: 8px !important; }
.ls__9px { letter-spacing: 9px !important; }
.ls__10px { letter-spacing: 10px !important; }