.p__1px { padding: 1px !important; }
.p__2px { padding: 2px !important; }
.p__3px { padding: 3px !important; }
.p__4px { padding: 4px !important; }
.p__5px { padding: 5px !important; }
.p__6px { padding: 6px !important; }
.p__7px { padding: 7px !important; }
.p__8px { padding: 8px !important; }
.p__9px { padding: 9px !important; }
.p__10px { padding: 10px !important; }

.py__1px { padding-top: 1px !important; padding-bottom: 1px !important;  }
.py__2px { padding-top: 2px !important; padding-bottom: 2px !important;  }
.py__3px { padding-top: 3px !important; padding-bottom: 3px !important;  }
.py__4px { padding-top: 4px !important; padding-bottom: 4px !important;  }
.py__5px { padding-top: 5px !important; padding-bottom: 5px !important;  }
.py__6px { padding-top: 6px !important; padding-bottom: 6px !important;  }
.py__7px { padding-top: 7px !important; padding-bottom: 7px !important;  }
.py__8px { padding-top: 8px !important; padding-bottom: 8px !important;  }
.py__9px { padding-top: 9px !important; padding-bottom: 9px !important;  }
.py__10px { padding-top: 10px !important; padding-bottom: 10px !important;  }